<?xml version='1.0' encoding='utf-8'?>
<widget id="com.michelangelog.tabris39hello" version="0.1.0">
  <name>Tabris39 Hello</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="michelangelog@gmail.com">
    micheg
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
